.Endpoint {
    padding-right: 7px;
}

.labelsDiv {
    display: flex;
}

.endpointLabelDiv {
    display: block;
    width: 50%;
}

.statusLabelDiv  {
    float: right;
    width: 50%;
}

.Endpoint input[type=text] {
    width: 100%;
    font-size: 1.5em;
}