.Menu {
    position: absolute;
    top: 45px;
    bottom: 0;
    left: -300px;
    background-color: #333333;
    color: #ffffff;
    transition: left;
    transition-duration: 0.5s;
    width: 300px;
}

.Menu.visible {
    left: 0;
}

.SectionHeader{
    padding-left: 5px;
    padding-top: 5px;
}

.Selection{
    padding-left: 20px;
    padding-bottom: 10px;
}