.Mode {
    text-align: center;
}

.Mode button {
    font-size: 1.2em;
    background-color: #cccccc;
    border-color: #000000;
    width: 100px;
}

.Mode button.selected {
    box-shadow: inset 1px 5px 5px #777777;
    background-color: #aaaaaa;
}