table.resultsTable {
    border: 1px solid black;
    border-collapse: collapse;
    text-align: left;
    padding-right: 5px;
    padding-top: 5px;
    padding-left: 5px;
}

table.resultsTable th {
    background-color: #2c65af;
    color: white;
    border-collapse: collapse;
    text-align: center;
    padding: 15px;
}

table.resultsTable td {
    /*border: 1px solid black;*/
    border-bottom:1pt solid black;
    border-collapse: collapse;
    text-align: left;
    padding-right: 15px;
    padding-top: 5px;
    padding-left: 15px;
}
