.SplitGrid {
    display: grid;
    grid-gap: 10px;
    grid-template-areas:
        "query1 query1 query2 query2"
        "result1 selection selection result2";
    grid-template-columns: auto 100px 100px auto;
}

.SplitGrid.SplitGridSingle {
    grid-template-areas:
            "query1 query1"
            "result1 selection";
    grid-template-columns: auto 200px;
}

.SplitGrid.SplitGridSingle .SplitQuery2 {
    display: none;
}

.SplitGrid.SplitGridSingle .SplitResults2 {
    display: none;
}

.SplitQuery1 {
    grid-area: query1;
}

.SplitQuery2 {
    grid-area: query2;
}

.SplitResults1 {
    grid-area: result1;
}

.SplitResults2 {
    grid-area: result2;
}

.SplitSelection {
    grid-area: selection;
}